body { 
    
    font-family: Arial, sans-serif;
    background-color: #1e3a56;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    background: dark navy blue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.left-section {
    padding: 20px;
}
.steps {
    margin-top: 20px;
}
.step {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.step img {
    width: 30px;
    margin-right: 10px;
}
.step span {
    color: limegreen;
    font-size: 24px;
    margin-left: auto;
}
.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.students-image {
    width: 250px;
    margin-bottom: 20px;
}
.enroll-btn {
    background-color: rgb(255, 115, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
